<a href="https://colab.research.google.com/github/Crow-6-9/AI/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#1
numlis=list(map(int,input("Enter list of numbers: ").split(",")))
avg=sum(numlis)/len(numlis)
print(f"The sum->{sum(numlis)}, maox-> {max(numlis)}, min->{min(numlis)} and averaage-> {avg}", end=" ")

Enter list of numbers: 11,23,45,2,7,9,16,27
The sum->140, maox-> 45, min->2 and averaage-> 17.5

In [13]:
sl=["Gaurav", "Shubham", "Anand"]
dl={s:len(s) for s in sl}
print(dl)

{'Gaurav': 6, 'Shubham': 7, 'Anand': 5}