<a href="https://colab.research.google.com/github/Crow-6-9/AI/blob/main/Python_classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x,y=20,30
print(f"x is {x} and y is {y}")

x is 20 and y is 30

In [ ]:
print("x is ",x ,"\n" , y,"is y ", sep="-")

x is -20-
-30-is y

In [ ]:
name=input("what is your name: --> ")
gender=input("what is ur gender: --> ")
native=input("native? : --> ")

print(f"Hi, {name} , your gender is {gender} and yiur native is: {native}")

what is your name: --> gaurav
what is ur gender: --> male
native? : --> gujarat
Hi, gaurav , your gender is male and yiur native is: gujarat

In [ ]:
no1,no2,no3=map(int,input("Enter 3 numbers").split(","))
print(no1,no2,no3)
print(type(no1),type(no2),type(no3))

Enter 3 numbers11,22,69
11 22 69
<class 'int'> <class 'int'> <class 'int'>

In [ ]:
no1,no2,no3=map(float,input("Enter 3 numbers").split(","))
print(no1,no2,no3)
print(type(no1),type(no2),type(no3))

Enter 3 numbers2.3, 45.6, 6.9
2.3 45.6 6.9
<class 'float'> <class 'float'> <class 'float'>

In [ ]:
farenhite=float(input("Enter farenhite" ))
celcius=(farenhite-32)*5/9
print(f"{farenhite} farenhite is {celcius} celcius")

Enter farenhite33
33.0 farenhite is 0.5555555555555556 celcius

In [ ]:
import math

In [ ]:
a,b=map(int,input("Enter a number").split())
if a<b:
  print(f"{a} is less than {b}")
elif a>b:
    print(f"{b} is greater")
else:
    print(f"{a} is equal to {b}")

Enter a number2 3
2 is less than 3

In [ ]:
number=int(input("Enter a number"))
i=1
while i<=number:
  print(i)
  i+=1

Enter a number9
1
2
3
4
5
6
7
8
9

In [ ]:
number=int(input("Enter a number"))
i=number
while i>=1:
  print(i)
  i-=1

Enter a number4
4
3
2
1

In [ ]:
n=int(input("enter a number"))
step=float(input("step of: "))
i=1
while i<=n:
  print(i)
  i+=step

enter a number4
step of: 0.25
1
1.25
1.5
1.75
2.0
2.25
2.5
2.75
3.0
3.25
3.5
3.75
4.0

In [ ]:
#infinite while
while True:
    number=int(input("enter the number: "))
    if number<0:
      break

enter the number: 11
enter the number: 22
enter the number: 33
enter the number: 33
enter the number: 44
enter the number: 5555
enter the number: 555
enter the number: -9

In [ ]:
#add all no till 1st number is -ve add eeach even no and sub each odd
result=0
while True:
    number=int(input("enter the number: "))
    if number<0:
      print("exit")
      break
    else:
       if number%2==0:
                result+=number
       else:
            result-=number
print(f"sum is {result}")

enter the number: 3
enter the number: 2
enter the number: 2
enter the number: 5
enter the number: 6
enter the number: 9
enter the number: -3
exit
sum is -7

In [ ]:
sum=0
count=0

while True:
  n=input("enter number ")
  if n=="":
    break
  else:
    count+=1
    sum+=int(n)


print(f"The sum is {sum} with elements {count}")

enter number 1
enter number 2
enter number 3
enter number 4
enter number 5
enter number
The sum is 15 with elements 5

In [ ]:
min=9999
max=-9999
sum=0
count=0


while True:
  n=input("enter number ")
  if n=="":
    break
  else:
    n=int(n)
    count+=1
    if n<min:
      min=n
    if n>max:
      max=n
    sum+=int(n)


print(f"The sum is {sum} with elements {count} and average is {sum/count}")
print(f"The min is {min} max is {max}")

enter number 22
enter number 33
enter number
The sum is 55 with elements 2 and average is 27.5
The min is 22 max is 33

In [ ]:
sum=0
count=0
c3=c5=c7=c3_5=c52_7=0



while True:
  n=input("enter number ")
  if n=="":
    break
  else:
    n=int(n)
    count+=1
    if n%3==0:
      c3+=1
    if n%5==0:
      c5+=1
    if n%7==0:
      c7+=1
    if n%3==0 and n%5==0:
      c3_5+=1
    if n%5==0 and n%7==0:
      c5_7+=1
    sum+=int(n)
print(f"thw numbers divisible by 3,5,7 are {c3},{c5},{c7}")
print(f"thw numbers divisible by 3 and 5 are {c3_5}")
print(f"thw numbers divisible by 5 and 7 are {c5_7}")
print(f" {sum}")

enter number 3
enter number 5
enter number 6
enter number 7
enter number 15
enter number 23
enter number 35
enter number
thw numbers divisible by 3,5,7 are 3,3,2
thw numbers divisible by 3 and 5 are 1
thw numbers divisible by 5 and 7 are 2
 94

In [ ]:
product=input("enter yur product:")
price=float(input("enter price"))
while True:
  guess=float(input("enter guess"))
  if guess<price:
    print("too low")
  elif guess>price:
    print("too high")
  else:
    print("perfect")
    break

enter yur product:watch
enter price6.6
enter guess5.5
too low
enter guess7.7
too high
enter guess6.6
perfect